### Q1.홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해보자.

|과목|점수|
|----|:---:|
|국어|80|
|영어|75|
|수학|55|

In [1]:
kor = 80
eng = 75
math = 55
print((kor+eng+math)/3)

70.0

### Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자.

In [4]:
a = 13
if a%2 == 0:
    print("짝수")
else:
    print("홀수")

홀수

### Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다.
홍길동씨의 주민등록번호를 연월일(YYYYMMDD)부분과 그 뒤의 숫자 부분으로 나누어 출력해보자.
```
pin = '881120-1068234'
yyyymmdd = # 입력
num =  # 입력
print() # 연월일 부분 출력
print() # 숫자부분 출력
```

In [7]:
pin = '881120-1068234'
yyyymmdd = "19"+pin[:6]
num =  pin[-7:]
print(yyyymmdd) # 연월일 부분 출력
print(num) # 숫자부분 출력

19881120
1068234

### Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다.
주민등록번호에서 성별을 나타내는 숫자를 출력해보자.
```
pin = "881120-1068234"
print( )
```

In [9]:
print(pin[7])

1

### Q5. 다음과 같은 문자열 a:b:c:d가 있다.
문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해보자.
```
a = "a:b:c:d"
b =
print(b)
```

In [10]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

### Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.
```
a = [1, 3, 5, 4, 2]
a.
a.
print()
```

In [14]:
a = [1, 3, 5, 4, 2]
a.sort()
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

### Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해보자.
```
a = ['Life', 'is', 'too', 'short']
result =
print(result)
```

In [17]:
a = ['Life', 'is', 'too', 'short']
result = a[0] + " "+ a[1] + " "+ a[2] + " " + a[3]
print(result)

Life is too short

### Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.
```
a = (1, 2, 3)
a =
print(a)
```

In [21]:
a = (1, 2, 3)
a = a + (4,) #튜플끼리 더하면 이어짐
print(a)

(1, 2, 3, 4)

### Q9. 다음과 같은 딕셔너리 a가 있다.
```
>>> a = dict()
>>> a
{}
```
다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.   
1. a['name'] = 'python'
2. a[('a',)] = 'python'
3. a[[1]] = 'python'
4. a[250] = 'python'

In [22]:
# 3번: 딕셔너리의 key에는 리스트가 들어갈 수 없음
# 2번: 튜플은 key로 쓸 수 있음

### Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
```
a = {'A':90, 'B':80, 'C':70}
result =
print(a)
print(result)
```

In [26]:
a = {'A':90, 'B':80, 'C':70}
result = a['B']
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80

### Q11. a 리스트에서 중복 숫자를 제거해 보자.
```
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =
b =
print(b)
```

In [27]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet =set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

### Q12. 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다.   
다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게될까?   
그리고 이런 결과가 나오는 이유에 대해 설명해보자.
```
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)
```

In [31]:
#a,b는 같은 주소를 참조하고 있음
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]